<div ng-cloak>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="100" layout="column">
            <form name="dForm" role="form" ng-controller="UserCaSaveCtrl">
                <md-card>
                    <md-card-header>
                        <md-card-avatar>
                            <img class="md-user-avatar" src="media/img/list/60.jpeg" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-headline">usuario</span>
                            <span class="md-subhead">Trabajar con usurio</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Nombre</label>
                                <input name="nombre" ng-model="usercashier.nombre" required>
                                <div ng-messages="dForm.nombre.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>apellido</label>
                                <input name="apellido" ng-model="usercashier.apellido">
                                <div ng-messages="dForm.apellido.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>usuario</label>
                                <input name="usuario" ng-model="usercashier.usuario">
                                <div ng-messages="dForm.usuario.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>perfil</label>
                                <input name="perfil" ng-model="usercashier.perfil">
                                <div ng-messages="dForm.perfil.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>password</label>
                                <input name="password" ng-model="usercashier.password">
                                <div ng-messages="dForm.password.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>sucursal</label>
                                <input name="sucursal" ng-model="usercashier.sucursal">
                                <div ng-messages="dForm.sucursal.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>

                        </div>
                        <md-input-container class="md-block">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>apellido</label>
                                <input name="apellido" ng-model="usercashier.apellido">
                            </md-input-container>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Usuario</label>
                                <input name="usuario" ng-model="usercashier.usuario">
                            </md-input-container>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>perfil</label>
                                <input name="perfil" ng-model="usercashier.perfil">
                            </md-input-container>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>password</label>
                                <input name="password" ng-model="usercashier.password">
                            </md-input-container>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>sucursal</label>
                                <input name="sucursal" ng-model="usercashier.sucursal">
                            </md-input-container>
                        </md-input-container>
                    </md-card-content>
                    <md-divider></md-divider>
                    <md-card-actions layout="row" layout-xs="column" layout-align="start center">
                        <md-card-icon-actions>
                            <md-button class="md-icon-button" aria-label="toggle">
                                <md-icon md-svg-icon="md-toggle-arrow"></md-icon>
                            </md-button>
                        </md-card-icon-actions>
                        <md-button type="reset" ng-click="cancel()" class="md-raised">Cancel</md-button>
                        <md-button type="submit" ng-click="save()" class="md-raised md-primary">
                            <span ng-show="usercashier.id == null">Create</span>
                            <span ng-show="usercashier.id">Update</span>
                        </md-button>
                    </md-card-actions>
                </md-card>
            </form>
        </div>
    </md-content>
</div>
